2_1/out
2_1/build
2_1/.vs
2_1/.qtcreator
2_1/*.json
3_1_single/
4_1_factoryMethod/out
4_1_factoryMethod/build
4_1_factoryMethod/.vs
4_1_factoryMethod/.qtcreator
4_1_factoryMethod/*.json

4_2_simple_factory_method/out
4_2_simple_factory_method/build
4_2_simple_factory_method/.vs
4_2_simple_factory_method/.qtcreator
4_2_simple_factory_method/*.json